.box1{
    background: #3f8ef9;
    width: 230px;    
    height: 820px;
    float: left;
    padding: 20px 0 0 140px
}
.box2{
    float: left;
    padding: 10px 0 0 30px;
}


h1{font-size: 36px;color: #fff}
h2{font-size: 30px;color: inherit}
h1,h2{
    border-top: 20px;
    border-bottom: 10px;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.1;
    
}
div{
    margin: 10px 0 5px 0
}
p{
    font-size: 20px;
    margin: 0
}
span{
    margin-right: 20px
}